{erl_opts, [debug_info]}.
{deps, [
        {cowboy, {git,"https://github.com/ninenines/cowboy", {tag, "2.0.0-pre.1"}}},
        {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.0"}}}
       ]}.

{plugins, [rebar3_run]}.

{relx, [{release, { steprecord, "0.2.0" },
         [steprecord,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, true},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
